---
title: About this page
layout: base.njk
---
<div class="container">
  <h1>This page is for you</h1>
  <p>It was made for you using HTML, CSS, and javascript. And served as a jamstack site.</p>
</div>

{% for item in news %}
  <a href="/{{ item.country }}/">{{ item.country }}</a>
{% endfor %}