---
permalink: _redirects
---

/  /fr/index.html  301  Language=fr-ca,fr!

{%- for item in news %}
/  /{{item.country}}/index.html  200  Country={{item.country}}
{%- endfor %}

/  /ca/index.html  404

